// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~swiper/swiper-bundle.css';
@import '~swiper/swiper';

.dodo-logo {
    .logo-img {
        width: 30px;
        height: 30px;
    }
}

.cart-button {
    background-color: orangered;
    color: #fff !important;
    font-weight: 800;
    border-radius: 10px;
    #cart-count {
        border-left: 1px solid #fff;
        margin-left: 10px;
        padding-left: 10px;
        .count {
            margin-right: 5px;
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    .swiper-slide {
        width: 1000px;
        height: 300px;
        background-position: center;
        background-size: contain;
        #slide1, #slide2, #slide3 {
            width: 1000px;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            
        }
    }
    .swiper-pagination-bullet-active {
        background: #aaa;
    }
    .swiper-button-next, .swiper-button-prev {
        width: calc(var(--swiper-navigation-size));
        background: var(--dark);
        border-radius: 50%;
        color: #aaa;
        &:after {
            font-size: 12px;
            font-weight: bold;
        }
    }
    
}

#slide1 {
    background-image: url(https://cdn.dodostatic.net/static/Img/Banners/9c2a302808424ba19e0a809480dc56dd.jpeg);
}
  
#slide2 {
    background-image: url(https://cdn.dodostatic.net/static/Img/Banners/g_1592631443_7e40393bd9a94fd4ad115b9f88dd8499.jpeg);
}

#slide3 {
    background-image: url(https://cdn.dodostatic.net/static/Img/Banners/00262c6a3564427d850992109f90375a.jpeg);
}

.add-to-cart-button {
    background-color: #fff;
    color: orangered;
    font-weight: 800;
    border-radius: 7px;
    border: 1px solid orangered;
    padding: 6px 20px;   
}

.navbar-nav.ml-auto {
    position: relative;
    .mini-cart-list {
        position: absolute;
        width: 250px;
        top: 40px;
        right: 0px;
        background: #fff;
        display: none;
        border-radius: 10px;
        padding: 30px 10px 0px 0px;
        box-shadow: 0 2px 4px #3335;
        .sum {
            width: 100%;
            margin-top: 40px;
            padding: 20px;
            border-top: 1px solid #333;
        }
        .mini-cart-button {
            background-color: #fff;
            color: orangered;
            font-weight: 800;
            border-radius: 7px;
            border: 1px solid orangered;
            padding: 6px 16px;
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
    &:hover {
        .mini-cart-list {
            display: block;
            z-index: 2;
        }
    }
}
